<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vale Python Arcade</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='arcade.css') }}">
</head>

<body>
    <h1>🌸🌸VALE🌸🌸</h1>
    <h1>🎮 PYTHON ARCADE</h1>

    <p>Selecciona un juego</p>

    <div class="catalogo">

        <div class="tarjeta">

            <h2>✂️ Piedra Papel Tijera</h2>

            <p>
                Compite contra la computadora.
            </p>

            <a href="/ppt">
                <button>Jugar</button>
            </a>

        </div>

        <div class="tarjeta">

            <h2>🎯 Adivina el Número</h2>

            <p>
                Encuentra el número secreto.
            </p>

            <a href="/adivina">
                <button>Jugar</button>
            </a>

        </div>

        <div class="tarjeta">

            <h2>🧠 Memorama</h2>

            <p>
                Encuentra todas las parejas de emojis.
            </p>

            <a href="/memorama">
                <button>Jugar</button>
            </a>

        </div>        

    </div>

</body>

</html>